<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
    <link rel="stylesheet" href="/css/contactUs.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a href="/add-product">Add Product</a></li>
                <li class="main-header__item"><a class="active" href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>    
    <div class="container">

        <div class="user_form">
            <h2>Book a Call</h2>
            <p>Book a Call now and Our representative will <br> call you on your prescribed time.</p>
            <form action="/success" method="post">
              <div>
                <div class="label">
                    <label for="Name">Name</label>
                </div>
                  <div class="input">
                    <input class="input_form" type="text" id="name" value="">
                  </div>
              </div>

              <div>
                <div class="label">
                    <label for="Email">Email</label>
                </div>
                  <div class="input">
                    <input class="input_form" type="text" id="email" value="">
                  </div>

              </div>

              <div class="input">
                <button type="submit">GET A CALL</button>
              </div>
            </form>
      </div>
    </div>
    
</body>
</html>